/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: #222222;

}

.logo_left {
  display: flex;
  justify-content: start;
  gap: 41px;
  padding: 18px 0 19px 231px;
  align-items: center;
}

.logo_right {
  display: flex;
  justify-content: end;
  gap: 33px;
  padding: 26px 240px 20px 0;
  align-items: center;
}
.main_image{
  width: 50%
}
.main_str {
  display: flex;
  align-items: center;
  background-color: #f1e4e6;
}

.title1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.title2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.main_text {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.colorText {
  color: #f16d7f;
}

/*card sale start */
.sale {
  display: grid;
  align-items: center;
  gap: 30px;
  padding-top: 65px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 96px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 109px;
}

.card_sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.card_sale img{
  width: 100%;
}

.card_sale_big {
  grid-column: span 3;
  grid-row: span 2;
}

.sale_text {
  position: absolute;
  font-style: normal;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Lato;
  font-weight: 900;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sale_text2 {
  position: absolute;
  font-style: normal;
  text-align: center;
  font-size: 24px;
  font-family: Lato;
  color: #f16d7f;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_grey {
  filter: brightness(40%);
}

.clothes_text {
  text-align: center;
  color: #222;
  font-size: 30px;
  font-weight: 400;
  font-family: Lato;
  margin-bottom: 6px;
}

.clothes_text2 {
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-family: Lato;
}

.card_clothes {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 96px;
}

.product_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 48px;
  position: relative;
}

.img_bezFona {
  background-color: #f7e4e2;
  width: 360px;
  height: 420px;
}


.product_name {
  color: #000;
  font-size: 13px;
  font-family: Lato;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 0 16px;
  margin-bottom: 12px;
  margin-top: 25px;
}

.description {
  display: flex;
  flex-direction: column;
  color: #5D5D5D;
  font-size: 14px;
  font-family: Lato;
  font-weight: 300;
  padding: 0 16px 0 16px;
  margin-bottom: 18px;
}

.price {
  display: flex;
  width: 52px;
  flex-direction: column;
  color: #f16d7f;
  font-size: 16px;
  font-family: Lato;
  padding-bottom: 20px;
  padding: 0 16px 24px 16px;
}

.product_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background: #f8f8f8;
  position: relative;
  display: inline-block;
  max-width: 580px;
}

.product_container img {
  width: 100%;
  display: block;
  max-width: 100%;
  transition: opacity 0.3s ease;
}

.product_container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;
}

.product_container:hover img {
  opacity: 0.7;
}

.product_container:hover .overlay {
  opacity: 1;
  
}



.product_container .text_bg {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

.product_container .text_bg:hover {
  text-decoration: underline;
}

.product_container .text_bg img {
  margin-right: 5px;
  max-width: 20px;
  height: auto;
}


.btn_bottom {
  text-align: center;
  margin-top: 48px;
}

.LoadMore {
  padding: 15px 39px;
  color: #F26376;
  font-size: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #FF6A6A;
  background: #FFF;
  cursor: pointer;
}

.LoadMore:hover {
  background: #F16D7F;
  color: #FFFFFF;
}
/* card sale end */

/* information start */

.information {
  background-color: #222224;
}

.information_content {
  width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}


.information_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  margin-top: 103px;
}

.information_card h4{
color: #FBFBFB;;
font-size: 20px;
font-family: Lato;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.information_card p{
  width: 360px;
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 104px;
}

/* information end */


/* SUBSCRIBE start */

.background{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-image: url(/image/bgSubscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe {
  position: relative;
  height: 448px;
}

.subscribe__content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top:86px; 
}

.imgSub{
  padding-left: 120px;
}
.subscribe__content_img p {
  width: 359px;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}

.text_subscribe span:nth-child(1) {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700; 
}

.text_subscribe{
  text-align: center;
}

.text_subscribe span:nth-child(2){
  color: #222224;

  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 356px;
  height: 49px;
  border-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 32px;
}

form input{
  width: 100%;
  height: 100%;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 22px;
  font-size: 14px;
  font-family: Lato;
}

form button{
  width: 100px;
  height: 49px; 
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #F16D7F;
  border: none;
  color: white;
  font-size: 14px;
  font-family: Lato;
  cursor: pointer;
}

/* SUBSCRIBE end */



/* footer start */
.footer_info {
  
  background: #222224;
}

.footer_content {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_info_text {
  width: 332px;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.media {
  display: flex;
  flex-direction:row;
  gap: 7px ;
}

.media a{
  text-decoration: none;
}

.bg_img {
  width: 32px;
  height: 32px;
  border: 1px solid;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bg_img:hover {
  background: #F16D7F;
}

.media_img:hover {
  fill: #FFFFFF;
}



/* footer end */

/* start dextop version */
@media (max-width:1300px) {
  .sale {
    gap: 18px;
    padding: 65px 16px 0 16px;
  }
}
@media (max-width:912px) {

}
@media (max-width: 768px){

.logo_left {
  padding: 18px 0 18px 32px;
}
.logo_right {
  margin-left: 424px;
  padding: 30px 32px 20px 0px;
}

.main_text {
  border-left: 12px solid #f16d7f;
}

.container {
  max-width: 768px;
}

.sale {
  width: 734px;
}
.card_sale {
  width: 232px;

}
.card_sale_big {
  width: 734px;
  
}

.sale_text { 
  top: 35%;
  left: 50%;
  
}

.sale_text2 {
  width: 154px;
}


.card_clothes {
  margin-top: 110px;
  margin-bottom: 72px;
}

.product_box {
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.btn_bottom {
  margin-top: 32.5px;
}
}

@media (max-width:375px) {
  .hidden {
    display: none;
  }
  
  .container {
    max-width: 375px;
  }
  
  .logo_left {
    padding: 18px 0 18px 16px;
  }

.logo_right {
  margin-left: 200px;
  padding: 25px 16px 25px 0;
}

.main_str {
  height: 363px;
}

.main_text {
  border-left: 12px solid #f16d7f;
  margin-left: 56px;
  padding-left: 15px;
}

.title1 {
  width: 236px;
  font-size: 38px;
  line-height: 58px;
}

.title2 {
  width: 236px;
  font-size: 20px;
  line-height: 38px;
}

.sale {
  display: flex;
  flex-direction: column;
  width: 0px;
}

.sale_text p{
  font-size: 16px;
}

.sale_text2  {
  margin-top: 10px;
  font-size: 16px;
}

.card_sale {
  width: 343px;
}



.clothes_text2 {
  margin-bottom: 64px;

}

.product_box {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.product_container {
  margin-bottom: 15px;
}

.btn_bottom {
  margin-top: 41px; 
}

}